@import "../../sass/variables.scss";
.Login {
	display: flex;
	align-items: center;
	min-height: 60vh;

	& .login-form {
		width: 30ch;
		margin: 0 auto;
		text-align: center;
	}

	& .register-link {
		padding: 1rem 0;
		& a {
			text-decoration: underline;
			color: $clr-orange;
		}
	}
}

.warning-msg {
	color: red;
}
