@import "../../sass/variables.scss";

.Category {
	position: absolute;
	background: $clr-brown-light;
	z-index: 5;
	max-height: 30rem;
	min-width: 15rem;
	overflow-y: auto;
	overflow-x: hidden;

	& .row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1.5rem 1rem;
		position: relative;

		&:hover {
			background: $clr-brown-lighter;
		}
	}

	& .color {
		width: 2rem;
		height: 2rem;
		border-radius: 50%;
		margin-right: 1.5rem;
		flex-shrink: 0;
	}

	& input[type="text"] {
		border: none;
		color: inherit;
		border-bottom: 1px solid $clr-brown-dark;
		background: none;
		outline: none;
		font-size: inherit;
		font-family: inherit;
		line-height: 1.6;
		width: 14rem;
		margin: 0 auto;
		opacity: 0.4;

		&:focus {
			opacity: 1;
		}

		&::placeholder {
			opacity: 0.4;
		}
	}
}

.checkbox-wrapper {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	flex-shrink: 0;
}

input[type="checkbox"] + label {
	min-width: max-content;
	padding-right: 5rem;
	text-transform: capitalize;
	flex-shrink: 0;

	&::after {
		content: "";
		position: absolute;
		background: white;
		right: 1rem;
		height: 2rem;
		width: 2rem;
		z-index: 6;
		border-radius: 3px;
	}

	&::before {
		content: "";
		height: 1rem;
		width: 0.5rem;
		position: absolute;
		right: 1.7rem;
		top: 1.8rem;
		border-bottom: 2px solid $clr-brown-dark;
		border-right: 2px solid $clr-brown-dark;
		z-index: 7;
		transform: rotateZ(20deg) scale(0);
	}
}

input[type="checkbox"]:checked + label {
	&::before {
		transform: rotateZ(45deg) scale(1);
	}
}
