// BREAKPOINTS
$bp-large: 1200px;
$bp-medium: 960px;
$bp-small: 768px;
$bp-mobile: 480px;

// COLORS
$clr-main: #ffeace;
$clr-brown-light: #dcb595;
$clr-brown-dark: #4d3a35;
$clr-brown-medium: #bba778;
$clr-greenbrown: #939a64;
