@import "../../../sass/variables.scss";

.Profil {
	text-align: center;

	& h1 {
		color: $clr-main;
	}

	& h2 {
		font-size: 2rem;
		color: $clr-orange;
	}

	& .portrait-container {
		width: 12rem;
		height: 12rem;
		border-radius: 50%;
		overflow: hidden;
		margin: 2rem auto;

		& img {
			height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	& .user-details {
		& > div {
			margin-bottom: 2rem;
			width: max-content;
			margin: 2rem auto;
		}

		&--label {
			font-size: 1.6rem;
		}

		& .description {
			text-align: left;
			font-size: 1.6rem;
			width: 40rem;
			margin: 6rem 0;
		}
	}
}
