.Home {
	& .hero {
		min-height: 50vh;
		background-image: url("../../img/clothes2.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		&__text {
			font-size: 8rem;
			width: 50%;
			color: #fff7ef;
			font-weight: 200;
			font-family: inherit;
			font-style: italic;
		}
	}
}
